  .home-container {
    background-image: url('/Users/pawitapongpaew/Documents/English-songs-search-engine-/musicmagnet/src/images/background.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    height: 100vh;
    margin: 0;
}
  
  .home-logo {
    height: 30vmin;  
    /* animation: moveLogo 5s linear infinite;  */
    margin-top: 40%;
    margin-left: 85%;
  } 
  
  .StartButton {
    background-color: rgba(0, 0, 0, 0);
    font-size: large;
    width: 150px;
    height: 50px;
    border: 3px solid #fff;
    text-align: center;
    color: #fff;
    font-family: 'Arial', sans-serif;
    border-radius: 40px;
    text-decoration: none;
    margin-top: 10%;
    margin-left: 105%;
  }
  
  .StartButton:hover {
    background-color: white;
    border: 3px solid #006E71;
    color: #006E71;
  }

  @keyframes moveLogo {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
  