.search-container {
    background-image: url('/Users/pawitapongpaew/Documents/English-songs-search-engine-/musicmagnet/src/images/background_1.png');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.center-container {
    display: flex;
    justify-content: center;
}

.search_box {
    font-size: 20px;
    width: 40%;
    margin: 40px;
    background-color: black;
    border-radius: 40px;
    padding: 10px;
    color: white;
    margin-bottom: 0%;
}

.Icon {
    position: absolute;
    top: 17%;
    left: 67%;
    max-width: 20px;
    height: 20px;
    z-index: 1;
}

.default_format {
    margin-top: 20px;
    margin-left: 22%;
    width: 90vmin; 
    height: 62vmin;
    padding: 30px;
    padding-top: 10px;
    border-radius: 40px; 
    background-color: rgba(0, 0, 0, 0.8);
    color:white;
    float: left; /* Add float property to align boxes horizontally */
}

.default_format.clicked {
    width: 80vmin; 
    height: 62vmin;
    margin-left: 45%;
}

.song {
    margin-top: 13.5%;
    width: 40vmin; 
    height: 62vmin;
    padding: 30px;
    padding-top: 10px;
    border-radius: 40px; 
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    margin-left: 15%;
    position: absolute; /* Set the position to absolute */
}

.warning {
    color: red; /* Change text color to red */
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0px;
}

.goback {
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    bottom: 19px;
    left: 65%;
    max-width: auto;
    height: 20px;
    z-index: 1;
    color: white;
    border-style: none;
}

.goback:hover {
    border-style: none;
    color: #006E71;
    transform: scale(1.1);
}